body {
    font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif;
}

p {font-size: 15pt; color: green; font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif; text-decoration: none; text-align: justify; margin-bottom: 2px; font-weight: normal;}

h5 {font-size: 8pt; color: gray; font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif; text-decoration: none; text-align: justify; margin-bottom: 2px; font-weight: normal;}

h4 {font-size: 10pt; color: gray; font-family: "Verdana CE", Verdana, "Arial CE", Arial, Helvetica, sans-serif; text-decoration: none; text-align: justify; margin-bottom: 2px; font-weight: normal;}

h3 {margin-top: 0;}

input[type=text], input[type=password] {
    display: inline-block;
    color: black;
    padding: 10px;
    width: 250px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.25);
    border: none;
    border-radius: 2px;
    margin: 10px auto;
    transition:background-color 0.5s ease;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: rgba(0,0,0,0.45);
}

input[type=submit], input[type=button] {
    color: #ffffff;
    background-color: #b1b1b1;
    display: block;
    margin-top:15px;
    border: none;
    border-radius: 3px;
    height: 40px;
    padding: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"]{
    background: rgba(191,185,169,.2);
    height: 16px;
    cursor: pointer;
    border-radius: 3px;
    width:16px;
    -moz-appearance:none;
    -webkit-appearance:none;
    box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
    vertical-align: middle;
}

input[type="radio"] {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    background: #5E5D58;
    box-shadow: 0 1px 2px rgba(0,0,0,.44);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.44);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.44);
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

div.form-container {
    padding: 1rem;
    border-radius: 8px;
    background-color: whitesmoke;
    margin: 1rem;
}

	